footer
  .container
    .row
      .col-xs-12.col-sm-12
        .b-copyright
          p The Pomodoro Technique 2017
        .copyright
          a.b-copyright__logo-link(href='#')
            | Developed by Sabina Mamedova 2017
link(href='./css/vendor.bundle.css', rel="stylesheet")
link(href='css/bundle.css', rel='stylesheet')
script(src='js/vendor.bundle.js')
script(src="js/bundle.js")

